In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [5]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
654,tt1007028,24000000,42105111,Zack and Miri Make a Porno,Seth Rogen|Elizabeth Banks|Jennifer Schwalbach...,Kevin Smith,What would you do to get out of debt?,Lifelong platonic friends Zack and Miri look t...,102,Comedy,Blue Askew|View Askew Productions,9/18/2008,6.0,2008
906,tt0166813,80000000,122563539,Spirit: Stallion of the Cimarron,Matt Damon|James Cromwell|Daniel Studi|Chopper...,Kelly Asbury|Lorna Cook,Leader. Hero. Legend.,As a wild stallion travels across the frontier...,83,Western|Animation|Adventure|Comedy|Family,DreamWorks Animation,5/24/2002,7.1,2002
82,tt1674771,30000000,49263404,Entourage,Jeremy Piven|Adrian Grenier|Jerry Ferrara|Kevi...,Doug Ellin,Dream Large. Live Larger.,"Movie star Vincent Chase, together with his bo...",104,Comedy,Warner Bros.|Closest to the Hole Productions,6/3/2015,6.2,2015
1647,tt0327437,110000000,72178895,Around the World in 80 Days,Jackie Chan|Steve Coogan|CÃ©cile De France|Rob...,Frank Coraci,Let your imagination soar.,"A bet pits a British inventor, a Chinese thief...",120,Action|Adventure|Comedy,Studio Babelsberg|Walden Media|Babelsberg Film...,6/16/2004,5.6,2004
766,tt1448755,66000000,57777106,Killer Elite,Jason Statham|Clive Owen|Robert De Niro|Domini...,Gary McKendry,May the Best Man Live,"Based on a shocking true story, Killer Elite p...",116,Action|Adventure|Thriller,Current Entertainment|Omnilab Media|Ambience E...,9/23/2011,6.0,2011

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [7]:
answers = {}  # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# вопрос 6 - создание колонки profit
data['profit'] = data['revenue'] - data['budget']

# вопрос 11 - уберём разделители в колонке genres
data['genres'] = data['genres'].str.split('|')

# вопрос 13 - уберём разделители в колонке director
data['director'] = data['director'].str.split('|')

# вопрос 15 - уберём разделители в колонке cast
data['cast'] = data['cast'].str.split('|')

# вопрос 18 - уберём разделители в колонке production_companies
data['production_companies'] = data['production_companies'].str.split('|')
# the time given in the dataset is in string format.
# So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [11]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример:
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# +
answers['1'] = '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [51]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == data.budget.max()]
max_budget

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]",Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [52]:
# можно добавлять разные варианты решения
max_budget_group = data.groupby(['original_title'])[
    'budget'].max().sort_values(ascending=False)
max_budget_group

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Tangled                                        260000000
John Carter                                    260000000
                                                 ...
Spring Breakers                                  5000000
The Last Exorcism Part II                        5000000
Apollo 18                                        5000000
Paranormal Activity: The Marked Ones             5000000
Clerks II                                        5000000
Name: budget, Length: 1887, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)?

In [12]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'  # +

In [53]:
longest_movie = data[data.runtime == data.runtime.max()]
longest_movie

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]",Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'  # +

In [10]:
shortest_movie = data[data.runtime == data.runtime.min()]
shortest_movie

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '2. 110'  # +

In [54]:
mean_runtime = data.runtime.mean()
mean_runtime

109.6585494970884

ВАРИАНТ 2

In [ ]:
# посмотреть значение mean в data.describe()

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107'  # +

In [55]:
median_runtime = data.runtime.median()
median_runtime

107.0

ВАРИАНТ 2

In [14]:
# посмотреть значение 50% в data.describe()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = '5. Avatar (tt0499549)'  # +

In [56]:
most_profit = data[data.profit == data.profit.max()]
most_profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]",Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = 'The Lone Ranger (tt1210819)'  # +

In [57]:
least_profit = data[data.profit == data.profit.min()]
least_profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = '1. 1478'  # +

In [58]:
profitable_movies = (data['revenue'] > data['budget']).value_counts()
profitable_movies

True     1478
False     411
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [19]:
answers['9'] = '4. The Dark Knight (tt0468569)'  # +

In [59]:
movies_2008 = data[data.release_year == 2008]
m_profit_2008 = movies_2008[movies_2008.revenue == movies_2008.revenue.max()]
m_profit_2008

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]",DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [20]:
answers['10'] = '5. The Lone Ranger (tt1210819)'  # +

In [60]:
period = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
failing_m = period[period.profit == period.profit.min()]
failing_m

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [21]:
answers['11'] = '3. Drama'  # +

In [78]:
genres_value = data['genres'].explode().value_counts()
genres_value

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [79]:
genres_data = Counter()
for lists in data['genres']:
    for word in lists:
        genres_data[word] += 1
genres_data.most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [22]:
answers['12'] = '1. Drama'  # +

In [87]:
# выбираем фильмы с положительным профитом
profit_movies = data[data.profit > 0]
genres_profit = Counter()  # заводим счётчик на подсчёт фильмов с определённым жанром
for lists in profit_movies['genres']:
    for word in lists:
        genres_profit[word] += 1
genres_profit.most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [23]:
answers['13'] = '5. Peter Jackson'  # +

In [81]:
movies_by_director = data.explode('director')
director_pr = movies_by_director.groupby(
    ['director'])['revenue'].sum().sort_values(ascending=False).head(1)
director_pr

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [24]:
answers['14'] = '3. Robert Rodriguez'  # +

In [82]:
genres_data14 = data.explode('genres')  # разделяем по жанрам
action_data = genres_data14[genres_data14['genres']
                            == 'Action']  # оставляем только action
action_director = action_data.explode('director')  # разделяем по режиссёрам
director_value = action_director['director'].value_counts()
director_value

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Dean DeBlois          1
Michel Gondry         1
Chris Columbus        1
Stephen Norrington    1
Josh Trank            1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [25]:
answers['15'] = '3. Chris Hemsworth'  # +

In [83]:
movie_2012 = data[data['release_year'] == 2012]  # собираем фильмы 2012
by_actor = movie_2012.explode('cast')  # разделяем строки по актёрам
actor_rev = by_actor.groupby(['cast'])['revenue'].sum(
).sort_values(ascending=False)  # сортируем по прибыли
actor_rev

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [26]:
answers['16'] = '3. Matt Damon'  # +

In [84]:
high_budget = data[data.budget > data.budget.mean()]
by_actor16 = high_budget.explode('cast')
by_actor16['cast'].value_counts()

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Samuel L. Jackson     15
Eddie Murphy          15
                      ..
LeVar Burton           1
Mathieu Amalric        1
Olivia Williams        1
Cameron Richardson     1
Lake Bell              1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [27]:
answers['17'] = '2. Action'  # +

In [85]:
by_actor17 = data.explode('cast')  # сохраняем дф с разбивкой на актёров
nicolas_movies = by_actor17[by_actor17['cast'] ==
                            'Nicolas Cage']  # собираем фильмы с Кейджем
nicolas_genres = Counter()  # заводим счётчик жанров
for lists in nicolas_movies['genres']:
    for word in lists:
        nicolas_genres[word] += 1
nicolas_genres.most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [28]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'  # +

In [89]:
comp_div = data.explode('production_companies')
par_pic = comp_div[comp_div['production_companies'] == 'Paramount Pictures']
least_profit18 = par_pic[par_pic.profit == par_pic.profit.min()]
least_profit18

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,NaN,NaN,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,NaN,Paramount Pictures,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [29]:
answers['19'] = '5. 2015'  # +

In [90]:
annual_rev = data.groupby(['release_year'])[
    'revenue'].sum().sort_values(ascending=False)
annual_rev

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [30]:
answers['20'] = '1. 2014'  # +

In [91]:
comp_div20 = data.explode('production_companies')
war_bro = comp_div20[comp_div20['production_companies'].str.contains(
    'Warner Bros')]
annual_pro = war_bro.groupby(['release_year'])[
    'profit'].sum().sort_values(ascending=False)
annual_pro

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [31]:
answers['21'] = '4. Сентябрь'  # +

In [95]:
data_month = data.copy()
data_month.release_date = pd.to_datetime(data_month.release_date).dt.month
month_val = data_month['release_date'].value_counts()
month_val

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [32]:
answers['22'] = '2. 450'  # +

In [97]:
data_month = data.copy()
data_month.release_date = pd.to_datetime(data_month.release_date)
summer_count = data_month[data_month.release_date.dt.month.isin([
                                                                6, 7, 8])].shape[0]
summer_count

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [33]:
answers['23'] = '5. Peter Jackson' # +

In [0]:
data_month = data.copy()
data_month.release_date = pd.to_datetime(data_month.release_date)
winter_count = data_month[data_month.release_date.dt.month.isin([1, 2, 12])]
dir_count = Counter()
for lists in winter_count['director']:
    for word in lists:
        dir_count[word] += 1
dir_count.most_common(1)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [34]:
answers['24'] = 'Four By Two Productions' # +

In [98]:
comp_div24 = data.explode('production_companies')
comp_div24['original_title'] = comp_div24['original_title'].apply(
    lambda x: len(x))
comp_len = comp_div24.groupby(
    'production_companies').original_title.mean().sort_values(ascending=False)
comp_len

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: original_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [35]:
answers['25'] = '3. Midnight Picture Show' # +

In [99]:
comp_div25 = data.explode('production_companies')
comp_div25['overview'] = comp_div25['overview'].apply(
    lambda x: len(x.split(' ')))
comp_len25 = comp_div25.groupby(
    'production_companies').overview.mean().sort_values(ascending=False)
comp_len25

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [36]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # +

In [100]:
vote_1 = data.copy()
# узнаём, в каких промежутках рейтинга находится 1% лучших
vote_range = vote_1['vote_average'].quantile(q=[1, 0.99])
display(vote_range)
# ищем соответствующие данные
range_movies = vote_1[(vote_1['vote_average'] == 8.1) | (
    vote_1['vote_average'] == 8.0) | (vote_1['vote_average'] == 7.9)]
display(range_movies)

1.00    8.1
0.99    7.8
Name: vote_average, dtype: float64

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,NaN,NaN,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,NaN,"[Walt Disney Pictures, Pixar Animation Studios...",6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,NaN,NaN,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,NaN,"[Element Pictures, No Trace Camping, A24, Dupe...",10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,NaN,NaN,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,NaN,"[Paramount Pictures, Legendary Pictures, Warne...",11/5/2014,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,NaN,NaN,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,NaN,"[Marvel Studios, Moving Picture Company (MPC),...",7/30/2014,7.9,2014,603312399
125,tt2084970,14000000,233555708,The Imitation Game,NaN,NaN,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,NaN,"[Black Bear Pictures, Bristol Automotive]",11/14/2014,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,NaN,NaN,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,NaN,"[Twentieth Century Fox Film Corporation, Regen...",10/1/2014,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,NaN,NaN,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,NaN,"[Fox Searchlight Pictures, Scott Rudin Product...",2/26/2014,7.9,2014,144600318
370,tt1375666,160000000,825500000,Inception,NaN,NaN,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,NaN,"[Legendary Pictures, Warner Bros., Syncopy]",7/14/2010,7.9,2010,665500000
599,tt0468569,185000000,1001921825,The Dark Knight,NaN,NaN,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,NaN,"[DC Comics, Legendary Pictures, Warner Bros., ...",7/16/2008,8.1,2008,816921825
872,tt0253474,35000000,120072577,The Pianist,NaN,NaN,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,NaN,"[Bac Films, Canal+Polska, Heritage Films, Stud...",9/24/2002,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,NaN,NaN,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,NaN,"[WingNut Films, New Line Cinema]",12/1/2003,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,NaN,NaN,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,NaN,"[Paramount Pictures, Appian Way, EMJAG Product...",12/25/2013,7.9,2013,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,NaN,NaN,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,NaN,"[Plan B Entertainment, Regency Enterprises, Ri...",10/18/2013,7.9,2013,167000000
1800,tt0209144,9000000,39723096,Memento,NaN,NaN,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,NaN,"[Summit Entertainment, Newmarket Capital Group...",10/11/2000,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [37]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': 'Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave'}

In [38]:
# и убедиться что ни чего не пропустил)
len(answers)

26